@import url("bootstrap");
@import url("bootstrap-icons");

@keyframes cardAnimation {
  0% { scale: 1; }
  100% { scale: 1.1;}
}

.active{
  text-decoration: none;
}

.movies-card{
  min-height: 100%;
  
  &:hover{
  scale: 1.1;
  animation: cardAnimation ease-in 200ms;
  }
}

.movie-card{
  width: 60%;
  min-width: 50%;
}

.cover-image{
  min-height: 400px;
  max-height: 430px;
  object-fit: cover;
}

.reviews-card{
  width: 200px;
}

.reviews-star{
  color: rgb(255, 229, 0);
}

.add-review{
  margin: 50px auto;
  width: 50%;
}

a{
  text-decoration: none;
  color: black;
  margin: 0;
}